### Output statments

In [3]:
print('Hello World')
print('Thank You')

Hello World
Thank You

In [4]:
print('Hello World')
print()
print('Thank You')

Hello World

Thank You

In [5]:
print("hello\npython")
print("Technical\tGuftgu")

hello
python
Technical	Guftgu

In [9]:
f_name = 'pankaj'
l_name='kumar'
fullname = f_name+' ' + l_name
print(fullname)

pankaj kumar

In [10]:
a,b,c= 10,20,30
print(a)
print(b)
print(c)

10
20
30

## print() function with variable numbers of arguments.

In [12]:
print('the numbers are ', a,b,c)

the numbers are  10 20 30

## sep and end attribute in print statment

In [13]:
print('the numbers are ', a,b,c, sep='@')

the numbers are @10@20@30

In [18]:
print('Hello World' , end ='')
print('Thank You', end= '')
print('welcome')

Hello WorldThank Youwelcome

In [30]:
name = 'pankaj'
age = 54
sub1 = 'maths'
sub2 ='chem'
print( 'this is your identity', name , age, sub1, sub2)
msg = f'my name {name} , and age is {age} , and i read sub1 as {sub1} ,and sub2 as {sub2}'
print(msg)

this is your identity pankaj 54 maths chem
my name pankaj , and age is 54 , and i read sub1 as maths ,and sub2 as chem

In [24]:
ls1 =(10,20,30)
print(type(ls1))
print(id(ls1))

<class 'tuple'>
2123668611584

## print(formatted string)

In [26]:
a=10
b=200
c=3000
print('%4d' %(a))
print('%4d' %(b))
print('%4d' %(c))

  10
 200
3000

In [3]:
name = 'Rakesh'
salary = 50000
age = 21

name = 'Mohan'
salary = 32000
age = 26

name = 'Sohan'
salary = 40000
age = 31

#print('Your name {} , Salary {} and Age {}'.format(name,salary,age))
print('Your name {0} , Salary {2} and Age {1}'.format(name,age,salary))

Your name Sohan , Salary 40000 and Age 31

In [5]:
str = 'pankaj'
print(str)

pankaj